.page {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 160;
}

@media all and (min-width: 768px) {
  .nav {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}

.main_content {
  display: block;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
